html,
body {
    margin: 0;
}

#roulette {}

#roulette #r-container {
    width: 600px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px #000028 solid;
    background: #320064;
    position: relative;
}

#roulette #r-container #r-line {
    width: 2px;
    height: 100%;
    background: #000028;
    position: absolute;
    top: 0;
    margin-left: 50%;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.8);
}

#roulette #r-container #r-slides {
    width: 20000px;
    height: 200px;
    display: inline-flex;
    position: relative;
    right: 0px;
    margin-left: 0;
}

#roulette #r-container #r-slides .r-slide {
    width: 200px;
    height: 100%;
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;
    overflow: hidden;
    background-color: #623094;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23320064' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    transition: opacity 0.3s ease;
    font-size: 100px;
    line-height: 1.9;
}

@media (max-width: 500px) {
    #roulette #r-container #r-line {
        margin-left: 50vw;
    }
}
